intelligent robot using IBM watson platform/intelligent robot node-red code.txt
[{"id":"60cd02c9.ad5f2c","type":"tab","label":"Intelligent robot ","disabled":false,"info":""},{"id":"b33185e7.0a4288","type":"ui_button","z":"60cd02c9.ad5f2c","name":"","group":"e6f3e3ee.26ed6","order":5,"width":0,"height":0,"passthru":false,"label":"MOVE LEFT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MOVE LEFT","payloadType":"str","topic":"","x":210,"y":140,"wires":[["eccb5e69.0dfac","bc326a21.731358"]]},{"id":"1f941b78.1fc125","type":"ui_button","z":"60cd02c9.ad5f2c","name":"","group":"e6f3e3ee.26ed6","order":6,"width":0,"height":0,"passthru":false,"label":"MOVE FORWARD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MOVE FORWARD","payloadType":"str","topic":"","x":210,"y":180,"wires":[["eccb5e69.0dfac","bc326a21.731358"]]},{"id":"bc326a21.731358","type":"ibmiot out","z":"60cd02c9.ad5f2c","authentication":"apiKey","apiKey":"e08111db.68da6","outputType":"cmd","deviceId":"pranavi123","deviceType":"pranavi","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":200,"wires":[]},{"id":"eccb5e69.0dfac","type":"debug","z":"60cd02c9.ad5f2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":120,"wires":[]},{"id":"b28de6cd.3661e8","type":"http in","z":"60cd02c9.ad5f2c","name":"","url":"/recieve","method":"get","upload":false,"swaggerDoc":"","x":110,"y":280,"wires":[["e78c5573.adf958"]]},{"id":"e78c5573.adf958","type":"function","z":"60cd02c9.ad5f2c","name":"command node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["d33ba70c.a14068","bc326a21.731358","eccb5e69.0dfac"]]},{"id":"d33ba70c.a14068","type":"http response","z":"60cd02c9.ad5f2c","name":"response","statusCode":"","headers":{},"x":540,"y":280,"wires":[]},{"id":"272d5a22.4688f6","type":"ui_button","z":"60cd02c9.ad5f2c","name":"","group":"e6f3e3ee.26ed6","order":9,"width":0,"height":0,"passthru":false,"label":"MOVE RIGHT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MOVE RIGHT","payloadType":"str","topic":"","x":200,"y":100,"wires":[["eccb5e69.0dfac","bc326a21.731358"]]},{"id":"43aec910.ed63f8","type":"ui_button","z":"60cd02c9.ad5f2c","name":"","group":"e6f3e3ee.26ed6","order":10,"width":0,"height":0,"passthru":false,"label":"MOVE BACKWARD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MOVE BACKWARD","payloadType":"str","topic":"","x":200,"y":220,"wires":[["eccb5e69.0dfac","bc326a21.731358"]]},{"id":"4c8d4124.a2341","type":"ui_button","z":"60cd02c9.ad5f2c","name":"","group":"e6f3e3ee.26ed6","order":11,"width":0,"height":0,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"STOP","payloadType":"str","topic":"","x":210,"y":60,"wires":[["eccb5e69.0dfac","bc326a21.731358"]]},{"id":"e6f3e3ee.26ed6","type":"ui_group","z":"","name":"Default","tab":"aca2f5b8.bfe3d8","disp":true,"width":"6","collapse":false},{"id":"e08111db.68da6","type":"ibmiot","z":"","name":"iot","keepalive":"60","serverName":"y1y4sn.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"aca2f5b8.bfe3d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]